.sectionForm{
    margin: 0 auto;
    
}
.form{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 30px;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: auto;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.buttoncleanform{
    background-color: #fa3333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #267edd;
}
.buttoncleanform:hover {
    background-color: #d33f3f;
}
